{% extends 'base.html' %}

{% block head %}
<!-- <h1>Template</h1> -->


{% endblock %}

{% block body %}
<div class='content'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <h1>
       Dijkstra
    </h1>
    <form action="/Dijkstra" method="POST" class="algo_form">
        <p>No of edges: <input required type="text" id="edges" name="nodes" placeholder="Enter no of nodes" /></p>
        <p>Enter edges: <textarea required name="message" rows="10" id="message" cols="100" placeholder="Enter in this format - node1:node2:edge_weight,node3:node4:edge_weight"></textarea>
        </p>
        <p>Source Node: <input required type="text" name="source" placeholder="Enter source node" id="source" /></p>
        <!-- <p id="unchk">Save Inputs : <input type ="radio" name ="save" id="save" checked="checked" data-waschecked="true"></p> -->
        <p><input type='submit' value="submit" class="zoom" /></p>
    </form>
        <button type='submit' name="Update" class="zoom" value="update">Rehydrate previous data using session</button>
    <!-- <script>
        var data='{{ val[2] }}'
        console.log("Session data",data)

       $(function(){
    $('input[name="save"]').click(function(){
        var $radio = $(this);

        // if this was previously checked
        if ($radio.data('waschecked') == true)
        {
            $radio.prop('checked', false);
            $radio.data('waschecked', false);
            document.getElementById('save').value="yes"
        }
        else{
            document.getElementById('save').value="no"
            $radio.data('waschecked', true);
        }

        // remove was checked from other radios
        $radio.siblings('input[name="rad"]').data('waschecked', false);
    });
});
    </script> -->


<script>
    //var data='{{ val[2] }}'
    //console.log("Session data",data)

   $(function(){
$('button[name="Update"]').click(function(){
    console.log("in1")
    try{
        console.log('{{val}}')
        if('{{val}}'=="") throw Error("No value saved")
        document.getElementById('message').value='{{val[0]}}'
        document.getElementById('edges').value='{{val[1]}}'
        document.getElementById('source').value='{{val[2]}}'
    }catch(e){
        console.warn(e)
        console.log("in")
        alert(e);
    }
});
});
</script>
</div>
{% endblock %}
